main {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
}

#dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#dashboard .overview-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#overview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#nav-bar {
    background-color: #ccc !important;    
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
}

#nav-bar:hover div {
    background-color: #ccc !important;
    color: #000 !important;
    cursor: pointer;
}

#nav-bar div {
    padding: 0.5rem 0.7rem;
    border-radius: 0.7rem;
    transition: 0.3s;
}

#nav-bar div:hover {
    background-color: orange!important;
    color: #fff !important;
}

#nav-bar div.highlighted {
    background-color: orange;
    color: #fff;
}

#container {
    display: flex;
    justify-content: center;
    flex: 1;
    
    padding: 1rem;
}

#log-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#order-log {
    width: 100%;
    border-radius: 1rem;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#order-log tr:nth-child(odd) {
    background-color: #bbb;
}

#order-log tr td, #order-log tr th {
    padding: 0.5rem;
}

#top-products {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}