main {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin: 0 auto;
    margin-bottom: 2rem;
}


#nav-bar {
    background-color: var(--light-almond) !important;    
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0.3rem;
    border-radius: 1rem;
    border: 1px solid var(--dark-charcoal);
}

#nav-bar:hover div {
    background-color: var(--light-almond) !important;
    color: var(--dark-charcoal) !important;
    cursor: pointer;
}

#nav-bar div {
    padding: 0.5rem 0.7rem;
    border-radius: 0.7rem;
    transition: 0.3s;
}

#nav-bar div:hover {
    background-color: var(--soft-orange)!important;
    color: var(--white) !important;
}

#nav-bar div.highlighted {
    background-color: var(--soft-orange);
    color: var(--white);
}

#container {
    display: flex;
    justify-content: center;
}

#log-container {
    background-color:var(--white);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#order-log,
#product-log {
    width: 100%;
    border-radius: 1rem;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

 tr:nth-child(odd) {
    background-color: #bbb;
}

tr td, tr th {
    padding: 0.5rem;
}
