#container {
    width: 100%;
    max-width: 400px;

    display: flex;
    justify-content: center;

    background-color: var(--cream);
    border-radius: 2rem;

    padding: 1rem;
    border: 1px solid var(--dark-charcoal);
}

#form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-container h1 {
    color: var(--deep-bronze);
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

#form-container a {
    font-weight: bold;
    color: var(--muted-ocher);
    text-decoration: underline;
}

#form-container a:hover {
    color: var(--deep-bronze);
    cursor: pointer;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.7rem;
}

#form div span {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

#form div input {
    padding: 0.8rem 0.4rem;
    border: 1px solid var(--dark-charcoal);
    border-radius: 2rem;
}

#submit button {
    background-color: var(--sandy-brown);
    width: 100%;
    margin: auto auto;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#submit button:hover {
    background-color: var(--deep-bronze);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}