.preview-modal {
    background-color: var(--ivory-eggshell);
    width: 40%;
    max-width: 45rem;

    border-radius: 1rem;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 1.5rem;
}

.preview-modal h2 {
    font-weight: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}
    
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;

    grid-column: 1 / 3;
}

.close-btn {
    background-color: #C5A579;
    border: none;

    width: 2.3rem;
    height: 2.3rem;

    border-radius: 50%;
    cursor: pointer;
}

.pet-image-container {
    margin-bottom: 1.5rem;

    grid-column: 1;
    grid-row: 2;
}

.pet-image-container img {
    width: 100%;
    height: 15rem;

    object-fit: cover;
    border-radius: 1rem;
}

.pet-details {
    background-color: white;
    border-radius: 1rem;

    padding: 0.5rem;
    margin-bottom: 1rem;

    grid-column: 2;
    grid-row: 2;
}

.detail-row {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.detail-row:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
}

.description-container {
    background-color: white;
    border-radius: 1rem;

    padding: 0.7rem;
    margin-bottom: 1rem;

    grid-column: 1 / 3;
    grid-row: 3;
}

.description-container h3 {
    margin-bottom: 0.7rem;
}

.description-container p {
    padding: 0 0.5rem;
    line-height: 1.5;
}

.btn-container {
    text-align: center;

    grid-column: 1 / 3;
    grid-row: 4;
}

.adopt-btn {
    background-color: #C5A579;
    color: #2D2824;

    text-decoration: none;
    display: inline-block;

    padding: 0.9rem 2rem;
    border-radius: 0.7rem;
}

.adopt-btn:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .preview-modal {
        max-height: 90vh;
        overflow-y: auto;

        width: 90%;
        grid-template-columns: 1fr;
    }

    .modal-header,
    .pet-image-container,
    .pet-details,
    .description-container,
    .btn-container {
        grid-column: 1;
        grid-row: auto;
    }
}