#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.description h2 {
    margin: 0;
    padding: 0;
}

.description p {
    width: 70%;
    text-align: center;
}