#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: -1.5rem;
}

.description h2 {
    margin: 0;
    padding-top: 0rem;
}

.content-container{
    padding-bottom: 0rem;
}

.description p {
    width: 45%;
    text-align: center;
}