#overview-container {
    display: flex;   
    gap: 1rem;
}

#overview-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}

#main-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

#main-top div {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#log-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#order-log {
    border-radius: 1rem;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#order-log tr:nth-child(odd) {
    background-color: #bbb;
}

#order-log tr td, #order-log tr th {
    padding: 0.5rem;
}

#top-products {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}
