.footer{
    background:#f5ecdf;
    border-top:0.0625rem solid #dbc9b2;
    width:100%;
}

.footer-top{
    padding:3rem 3rem;
    display:grid;
    grid-template-columns:1.5fr 1fr 1fr;
    gap:2rem;
}

.footer-logo{
    margin-bottom:1rem;
}

.footer-logo img{
    width:11rem;
    height:auto;
    object-fit:contain;
    margin-right:1rem;
}

.footer-about p{
    line-height:1.8rem;
    font-family:Quicksand;
    font-weight:600;
    color:#4b3a2f;
    font-size:0.95rem;
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:0.7rem;
    font-family:Quicksand;
    font-weight:600;
}

.footer-links h4{
    color:#b68537;
    margin-bottom:0.5rem;
    font-size:1.1rem;
}

.footer-links a{
    text-decoration:none;
    color:#4b3a2f;
    transition:.3s;
}

.footer-links a:hover{
    color:#c89a4d;
    transform:translateX(0.3rem);
    cursor:pointer;
}

.footer-bottom{
    background:#c89a4d;
    color:white;
    text-align:center;
    padding:1rem;
    font-family:Quicksand;
    font-weight:600;
    font-size:0.9rem;
}

@media (max-width:56.25rem){

    .footer-top{
        grid-template-columns:1fr 1fr;
        gap:1.5rem;
        padding:2.5rem 2rem;
    }

    .footer-about{
        grid-column:span 2;
    }

    .footer-logo img{
        width:9.5rem;
    }

    .footer-about p{
        line-height:1.7rem;
        font-size:0.9rem;
    }

    .footer-links h4{
        font-size:1rem;
    }

    .footer-links a{
        font-size:0.9rem;
    }
}

@media (max-width:37.5rem){

    .footer-top{
        grid-template-columns:1fr;
        gap:1.3rem;
        padding:2rem 1.2rem;
    }

    .footer-about{
        grid-column:span 1;
    }

    .footer-logo{
        display:flex;
        justify-content:center;
    }

    .footer-logo img{
        width:8.5rem;
        margin-right:0;
    }

    .footer-about p{
        text-align:center;
        line-height:1.5rem;
        font-size:0.85rem;
    }

    .footer-links{
        align-items:center;
        text-align:center;
        gap:0.5rem;
    }

    .footer-links h4{
        font-size:0.95rem;
    }

    .footer-links a{
        font-size:0.85rem;
    }

    .footer-bottom{
        font-size:0.8rem;
        padding:0.9rem;
    }
}