
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-bar {
    background-color: var(--pale-cream);
    height: 13svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 8px rgba(196, 155, 102, 0.5);
    
}

#header-options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 1.2rem;
}

#header-options ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

#header-options ul li {
    margin: 0.5rem;
}

#header-options ul li a {
    color: var(--dark-charcoal);
    text-decoration: none;
}

#header-options ul li i {
    position: relative;
    color: var(--dark-charcoal);
    font-size: 1.7rem;
    margin: 0 1rem;
}

#header-options ul li i:hover {
    color: var(--deep-bronze);
    cursor: pointer;
}

#cart-item-count {
    background-color: red;
    width: 1.2rem;
    height: 1.2rem;
    color: white;
    font-size: 0.6rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2rem;
    /* padding: 0.3rem 0.5rem; */
    border-radius: 50%;
    position: absolute;
    right: -1rem;

}

#logo img{
    height: 4.5rem;
    width: 11.5rem;
    
}

#logo:hover {
    color: var(--deep-bronze);
}

#auth-btn, #admin-page {
    background-color: var(--warm-honey);
    font-family: Quicksand;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
}

#auth-btn:hover, #admin-page:hover {
    background-color: var(--sandy-tan);
    cursor: pointer;
}

#adoption-status,
#order-status,
#about-us {
    cursor: pointer;
}