
header {
    position: sticky;
    top: 0;
    z-index: 100;
    user-select: none;
}

#header-bar {
    background-color: var(--pale-cream);
    height: 13svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 8px rgba(196, 155, 102, 0.5);
    
}

#header-options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 1.2rem;
}

#header-options ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0.5rem;
}

#header-options ul li {
    margin: 0.5rem;
}

#header-options ul li a {
    text-decoration:none;
    color:#2f241d;
    font-family: Quicksand;
    font-weight: bold;
    transition:.3s;
    position:relative;
}

#header-options ul li a:hover::after {
    width:100%;
}

#header-options ul li a::after {
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0%;
    height:2px;
    background:#c89a4d;
    transition:.3s;
}

#header-options ul li a:hover {
    color:#c89a4d;
}

#header-options .active {
    color:#c89a4d;
}

#header-options ul li i {
    position: relative;
    color: var(--dark-charcoal);
    font-size: 1.7rem;
    margin-right: 1rem;
}

#header-options ul li i:hover {
    color: var(--deep-bronze);
    cursor: pointer;
}

#cart-btn {
    cursor:pointer;
    transition:.3s;
}

#cart-btn:hover {
    color:#c89a4d;
    transform:scale(1.1);
}

#cart-item-count {
    background-color: red;
    width: 1.2rem;
    height: 1.2rem;
    color: white;
    font-size: 0.6rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2rem;
    /* padding: 0.3rem 0.5rem; */
    border-radius: 50%;
    position: absolute;
    right: -0.8rem;
    top: -0.7rem;

}

#logo img{
    height: 4.5rem;
    width: 11.5rem;
    transition: 0.3s;
}

#logo:hover {
    transform:scale(1.03);
    transition: transform 0.1s ease;
}

.auth-btn, #admin-page {
    background-color: #c89a4d;
    font-family: Quicksand;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    transition:.3s;
}

.auth-btn:hover, #admin-page:hover {
    background-color: var(--sandy-tan);
    cursor: pointer;
     background:#b07f37;
    transform:translateY(-2px);
}


#adoption-status,
#order-status,
#about-us {
    cursor: pointer;
}

#account-options {
    background-color: var(--warm-honey);
    width: 12rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: fixed;
    top: 4.7rem;
    right: 1.5rem;
    overflow: hidden;
    z-index: 200;
}

#delete-account,
#logout {
    padding: 1rem;
    border-bottom: solid 0.1rem var(--pale-cream);
}

#delete-account:hover,
#logout:hover {
    cursor: pointer;
    color: var(--pale-cream);
    background-color: var(--sandy-tan);
}

#account-options{
    margin-top: 0.5rem;
    transform: translateX(0.5rem);
    font-family: Quicksand ;
    font-weight: bold;
}