main {
    background-color: var(--ivory-eggshell);
    display: flex;
    flex-direction: column;
}

#hero-img {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

#hero-img img {
    width: 70svw;
}
