main {
    display: flex;
    flex-direction: column;
}

#hero-img {
    display: flex;
    justify-content: center;
}

#hero-img img {
    width: 70svw;
}

#content {
    height: 100px; /* temp */
    width: 70%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
}