#nav-bar {
    /* width: 70%; */
    background-color: var(--muted-bronze);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin: 0 auto; */
    padding-bottom: 1rem;
    /* border-radius: 3rem; */

    position: sticky;
    z-index: 100;
    top: 13svh;

    box-shadow:
        0 -3px 6px rgba(0, 0, 0, 0.05),
        0 3px 6px rgba(0, 0, 0, 0.05); 
}

#search-bar {
    background-color: var(--white);
    width: 70%;
    display: flex;
    gap: 0.5rem;

    padding: 0.2rem 0.4rem;

    border-radius: 4rem;
    border: 0.2rem solid var(--dark-charcoal);
    
    overflow: hidden;
    position: relative;
    top: -3svh;
}

#search-bar input {
    border: none;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    background-color: var(--warm-honey);
    padding: 0.2rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#search-bar button i {
    color: var(--deep-bronze);
}

#search {
    flex: 1;
    padding: 0.5rem 1rem;
}

#nav-options {
    display: flex;
}

#nav-options .nav-option {
    background-color: var(--light-tan);
    margin: 0 1rem;
    padding: 3rem 2.5rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--dark-charcoal);
    transition: 0.3s;
}

#nav-options .nav-option:hover {
    background-color: var(--ivory-eggshell);
    cursor: pointer;
}

#nav-options .highlighted {
    background-color: var(--ivory-eggshell);
}
