.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateX(-40px);
    animation: fadeLeft 0.7s ease forwards;
}

#filter-content {
    min-width: 30rem;
    width: 60%;
    background-color: var(--sandy-brown);
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--dark-charcoal);
}

.filter-button {
    background-color: var(--cream);
    width: 7%;
    display: flex;
    justify-content: center;
    padding: 0.3rem 2rem;
    border-radius: 2rem;
}

.filter-button:hover {
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.filter-button.highlighted {
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.7);
}

#products-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 1.5rem;
}

.card {
    background-color: var(--light-almond);
    color: var(--dark-charcoal);
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card .product-image,
.card .pet-image {
    width: 100%;
    height: 10rem;
}

.card .product-image img,
.card .pet-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-1 .product-name,
.container-1 .pet-name {
    font-size: 1rem;
    font-weight: bold;
}

.container-1 .product-description,
.container-1 .pet-description {
    font-size: 1.2rem;
    word-break: break-all;
}

.container-2 {
    display: flex;
    justify-content: space-between;
}

.container-2 .price {
    font-size: 1.2rem;
}

.container-2 .add-to-cart {
    background-color: var(--sandy-brown);
    color: var(--cream);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.container-2 .add-to-cart:hover {
    cursor: pointer;
}

#adopt-pet-btn {
    background-color: var(--sandy-brown);
    color: var(--cream);
    width: 10rem;
    height: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#adopt-pet-btn:hover {
    background-color: var(--tan-ocher);
    cursor: pointer;
}