#nav-bar {
    width: 70%;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding-bottom: 1rem;
    border-radius: 3rem;

    position: sticky;
    top: 13svh;
}

#search-bar {
    width: 50%;
    display: flex;
    /* background-color: orange; */
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    top: -3svh;
}

#search-bar button {
    cursor: pointer;
}

#search {
    flex: 1;
    padding: 1rem;
}

#nav-options {
    display: flex;
}

#nav-options .nav-option {
    background-color: var(--light-gray);
    margin: 0 1rem;
    padding: 3rem 2.5rem;
    border-radius: 1rem;
}

#nav-options .nav-option:hover {
    background-color: var(--light-color);
    cursor: pointer;
}
