:root {
    --light-color: #f0f0f0;

    --light-gray: #ccc;
    --gray: #aaa;
    --dark-gray: #333;
    --black: #000;

    /* for homepage */
    --pale-cream: #f9f3ea;
    --ivory-eggshell: #fffbf2;
    --light-almond: #f4e8d8;
    --sandy-tan: #cc9e61;
    --warm-honey: #d8b486;

    /* for auth */
    --cream: #faf4ea;
    --sandy-brown: #c49b66;
    --deep-bronze: #8c6239;
    --white: #ffffff;
    --dark-charcoal: #3e3225;
    --muted-ocher: #b08c5d;

    --light-tan: #f2e6d7;
    --tan-ocher: #c4a478;
    --dark-tan: #b08c5d;
    --off-white: #efe5d6;
    --muted-bronze: #d1b99a;

    --soft-blue: rgb(147, 147, 214);
    --soft-orange: rgb(240, 196, 114);
    --soft-red: rgb(223, 157, 157);
    --soft-pink: rgb(255, 218, 224);
}

html, body {
    font-family: Quicksand;
    font-size: 14px;
    color: var(--dark-charcoal);
    
    width: 100%;
    margin: 0;
    scrollbar-gutter: stable;
}

main {
    display: flex;

    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.header {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.label {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
}

#message-overlay {
    background-color: var(--soft-orange);

    min-width: 20%;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    color: white;

    z-index: 200;

    padding: 0 1rem;
    border-radius: 1rem;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0 auto;

    visibility: hidden;
}

#overlay-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(102, 102, 102, 0.7);
    z-index: 1000;
    position: fixed;
    top: 0;

    visibility: hidden;
}