:root {
    --light-color: #f0f0f0;

    --light-gray: #ccc;
    --gray: #aaa;
    --dark-gray: #333;
    --black: #000;

    --cream: #faf4ea;
    --sandy-brown: #c49b66;
    --deep-bronze: #8c6239;
    --white: #ffffff;
    --dark-charcoal: #3e3225;
    --muted-ocher: #b08c5d;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    width: 100%;
    margin: 0;
}

main {
    display: flex;

    min-height: 400vh; /*temporary for testing */
    width: 100%;
    height: 100%;
}

.header {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.label {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
}